<body class="clan">
<div class="clan-container">
  <h1>{{ clan?.name }}</h1>

  <button class="back-button" (click)="goToHome()">Back</button>
  <button class="exit-button" (click)="exitClan()">Exit</button>
  <div class="clan-chat-button">
    <button (click)="goChat()">Chat</button>
  </div>


  <div class="competition-button">
    <button (click)=" goToTournaments()">Start Competition</button>
  </div>

  <div *ngIf="this.invitations.length > 0" class="clan-invitations">
    YOU HAVE {{ this.invitations.length }} INVITATIONS:
    <div *ngFor="let invitation of invitations">
      <button (click)="acceptInvitation(invitation)">Accept</button>
      <button (click)="declineInvitation(invitation)">Decline</button>
    </div>
  </div>

  <div class="clan-members">
    <h2>Members</h2>
    <ul>
      <li *ngFor="let user of members">
        <span>{{ user.username }}</span>
      </li>
    </ul>
  </div>
</div>
</body>
