<!--all-cards.component.html-->
<button (click)="goToHome()">Back To Homepage</button>
<button (click)="goToDecks()">Back To Deck List</button>
<button (click)="goToCards()">Back</button>
<div class="card-container">
  <div class="card-row">
    <div class="card" *ngFor="let card of cards">
      <app-card [card]="card"></app-card>
      <button (click)="toggleSelection(card)">{{ isSelected(card) ? 'Remove' : 'Select' }}</button>
    </div>
  </div>
  <p>Cards selected: {{ selectedCards.length }}/30</p>
</div>

<div class="selected-card-row">
  <div class="selected-card" *ngFor="let selectedCard of selectedCards">
    <app-card [card]="selectedCard"></app-card>
  </div>
</div>


<button (click)="clearSelection()">Clear Selection</button>


<button *ngIf="selectedCards.length > 0 && selectedCards.length < 30" (click)="saveSelection()">Save Selection</button>
