<!--all-cards.component.html-->
<div class="cardLib-container">

  <div class="card-row">
    <div class="card" *ngFor="let card of cards">
      <app-duel-card [card]="card"></app-duel-card>
      <button [ngClass]="{'select-btn': !isSelected(card), 'remove-btn': isSelected(card)}"  (click)="toggleSelection(card)">{{ isSelected(card) ? 'Remove' : 'Select' }}
      </button>
    </div>
  </div>
  <p>------ Cards selected: {{ selectedCards.length }}/30 ------</p>


  <div class="selected-card-row">
    <div class="selected-card" *ngFor="let selectedCard of selectedCards">
      <app-duel-card [card]="selectedCard"></app-duel-card>
    </div>
  </div>
  <div class="selected-btn">
    <button class="clear-selection-btn" *ngIf="selectedCards.length > 0" (click)="clearSelection()">Clear Selection
    </button>
    <button class="save-selection-btn" *ngIf="selectedCards.length > 0 && selectedCards.length < 30"
            (click)="saveSelection()">Save Selection
    </button>
  </div>

  <button class="cardBack-button" (click)="goToCards()">Back</button>
</div>
