/* card-list.component.css */

body.card-list {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* 页面缩小后也能居中 */
  min-height: 100vh;
}


.cards-container {
  position: absolute;
  top: 50%; /* 将框的顶部定位在页面垂直中间 */
  left: 50%; /* 将框的左侧定位在页面水平中间 */
  transform: translate(-50%, -50%); /* 通过转换将框居中 */
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card-list-title {
  margin-bottom: 20px;
  color: #FFF3C1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: Hippo, sans-serif;
}

.card-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* 让子元素高度与父元素一致 */
  margin-bottom: 20px;
}

.card-search input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgba(23, 23, 23, 0.9);
  width: 70%;
  font-family: DIN Alternate  , sans-serif;
}

.searchCard-btn {
  padding: 13px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(145deg, #67eae7, #8ec593);
  color: #372513;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.searchCard-btn:hover {
  background: linear-gradient(145deg, #8ec593, #67eae7);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 两列布局 */
  gap: 20px; /* 设置列间距 */
  margin-bottom: 20px;
  margin-left: 100px;
  max-height: 500px;
  overflow-y: scroll;
  padding: 20px;
}

.card-item {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(23, 23, 23, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.app-card {
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#no-cards-msg {
  font-size: 16px;
  color: rgba(250, 29, 29, 0.9);
}
.blank-msg{
  color: rgba(255, 255, 255, 0.9);
}
.blank-msg, .error-msg{
  text-align: center;
  margin-bottom: 20px;
}

.editCard-btn {
  background: linear-gradient(145deg, rgb(158, 101, 220), #35a1ed);
  color: white;
  width:100px;
  height: 30px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.editCard-btn:hover {
  background: linear-gradient(145deg, #35a1ed, #9e65dc);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.cardBack-btn{
  background: linear-gradient(145deg, #ebe1a8, #72b879);
  color: #372513;
  width:100px;
  height: 30px;
  font-size: 16px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.cardBack-btn:hover {
  background: linear-gradient(145deg, #72b879, #ebe1a8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.editCard-btn, .cardBack-btn {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.editCard-box{
  margin-top: 10px; /* 添加适当的下边距，为卡牌列表留出空间 */
  margin-bottom: 20px; /* 添加适当的下边距，为卡牌列表留出空间 */
  justify-content: left;
}

.previous-btn, .nextPage-btn{
  width: 70px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}
.previous-btn{
  margin-right: 10px;
}
.nextPage-btn{
  margin-left: 10px;
}
.previous-btn:hover, .nextPage-btn:hover{
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
