<!--login.component.html-->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Sign In Window</title>
  <link rel="stylesheet" href="login.component.css"/>
</head>

<body class="background-image-login">
<div class="box">

  <h2>Sign In</h2>
  <form (ngSubmit)="onLoginFormSubmit()" #loginForm="ngForm">

    <!-- Email 输入框 -->
    <div class="input-box"
         [ngClass]="{ 'input-error': (loginForm.submitted || email.invalid || !user.email) && (email.dirty || email.touched) && !email.valid }">
      <input type="text" [(ngModel)]="user.email" placeholder="Email" name="email" #email="ngModel"
             required>
      <!-- 显示错误消息 -->
      <div class="error-message"
           *ngIf="(loginForm.submitted || email.invalid || !user.email) && (email.dirty || email.touched) && !email.valid">
        {{ showFormValidationErrorMessages() || 'Please enter your email' }}
      </div>
    </div>

    <!-- Password 输入框 -->
    <div class="input-box"
         [ngClass]="{ 'input-error': (loginForm.submitted || password.invalid || !user.password) && (password.dirty || password.touched) && !password.valid }">
      <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" #password="ngModel"
             required>
      <!-- 显示错误消息 -->
      <div class="error-message"
           *ngIf="(loginForm.submitted || password.invalid || !user.password) && (password.dirty || password.touched) && !password.valid">
        {{ showFormValidationErrorMessages() || 'Please enter your password' }}
      </div>

    </div>


    <div class="flex-container">
      <div class="flex-item">
        <p-radioButton name="groupId" value="1" [(ngModel)]="user.groupId" id="group_user"></p-radioButton>
        <label for="group_user" style="color: white;">Player</label>
      </div>
      <div class="flex-item">
        <p-radioButton name="groupId" value="2" [(ngModel)]="user.groupId" id="group_admin"></p-radioButton>
        <label for="group_admin" style="color: white;">Admin</label>
      </div>
    </div>


    <div class="btn-box">
      <p class="passwordForget"><a class="passwordForget" (click)="showPasswordForgetDialog()">Forget Password?</a></p>
      <div>
        <button type="submit">Sign In</button>
        <button type="button" (click)="goToRegister()">Register</button>
      </div>
    </div>
  </form>

  <p-dialog class="custom-dialog" [(visible)]="showResetPasswordDialog" [style]="{ width: '500px' }">
    <ng-template pTemplate="header">
      <span class="p-text-secondary block mb-5" style="margin-top: 40px;">Reset Password</span>
    </ng-template>
    <p style="margin-top: 20px; font-size: 18px;" >
      We will send a new password to your e-mail address.
    </p>
    <form (ngSubmit)="forgetPasswordRequest()" #resetPasswordForm="ngForm">
      <div class="formgrid">
        <div class="field" style="margin-top: 20px;" >
          <div class="flex align-items-center">
            <label for="resetPasswordEmail">E-Mail-Adresse :</label>
            <input id="resetPasswordEmail" type="email" required email [(ngModel)]="resetPasswordUser.email"
                   name="resetPasswordEmail"
                   #resetPasswordEmail="ngModel"
                   class="text-base">
          </div>

          <div [hidden]="resetPasswordEmail.valid || resetPasswordEmail.pristine" class="alert_form_input_invalid">
            <small class="ml-2">Enter a valid e-mail address</small>
          </div>
        </div>
        <div class="flex-container" style="margin-top: 15px;">
          <div class="flex-item">
            <p-radioButton name="resetPasswordGroupId" value="1" [(ngModel)]="resetPasswordUser.groupId"
                           id="resetPasswordGroup_user"></p-radioButton>
            <label for="resetPasswordGroup_user">Player</label>
          </div>
          <div class="flex-item">
            <p-radioButton name="resetPasswordGroupId" value="2" [(ngModel)]="resetPasswordUser.groupId"
                           id="resetPasswordGroup_admin"></p-radioButton>
            <label for="resetPasswordGroup_admin">Admin</label>
          </div>
        </div>
        <div class="field" style="margin-top: 20px;">
          <button type="submit" [disabled]="resetPasswordForm.invalid" style="padding: 10px 20px; font-size: 16px;">Confirm</button>
        </div>
      </div>
    </form>
  </p-dialog>
</div>


</body>
</html>
