/* login.component.css */
/* 登录框模糊大小 */
.box::before{
  width: 400px;
  height: 370px;
}

/* 登录框大小 */
.box{
  width: 400px;
  height: 370px;
}

/* 忘记密码颜色 */
.passwordForget{
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

/* 忘记密码那边先把html样式去掉，重新定义 */
:host ::ng-deep .p-dialog .p-dialog-header,
:host ::ng-deep .p-dialog .p-dialog-content {
  background-color: rgba(246, 217, 196, 0.5); /* 半透明背景色 */
  backdrop-filter: blur(8px);
  color: rgba(23, 23, 23, 0.9); /* 文字颜色 */
  font-family: 'Bungee', sans-serif;
  padding: 0; /* 移除对话框标题和内容区域的内边距 */
  text-align: center;
}

/* 忘记密码标题位置大小 */
:host ::ng-deep .p-dialog .p-dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep .p-dialog .p-dialog-header span {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}


/* 关闭按钮位置 */
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-close {
  position: absolute;
  right: 10px; /* 可根据需要调整 */
  top: 10px; /* 可根据需要调整 */
}


/* email输入框样式 */
:host ::ng-deep input.text-base {
  margin-bottom: 5px;
  box-sizing: border-box;
  height: 30px;
  width: 250px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(78, 73, 73, 0.3);
  border-radius: 5px;
  transition: 0.2s;
  outline: none;
  padding: 0 10px;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  margin-right: 10px; /* 设置按钮之间的间距 */
}

.flex-item:first-child {
  margin-left: 20px; /* 设置第一个按钮前面的间距 */
}

/* reset密码对话框大小 */
.p-dialog {
  width: 500px;
  height: 281px;
}

.custom-dialog .flex-container {
  display: flex;
  justify-content: space-between;
}

.custom-dialog .flex-item {
  margin-right: 10px; /* 调整按钮之间的右边距 */
}




