<!--login.component.html-->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Sign In Window</title>
  <link rel="stylesheet" href="login.component.css"/>
</head>

<body>
<div class="box">

  <h2>Sign In</h2>
  <form (ngSubmit)="onLoginFormSubmit()" #loginForm="ngForm">

    <!-- Email 输入框 -->
    <div class="input-box" [ngClass]="{ 'input-error': (loginForm.submitted || email.invalid || !user.email) && (email.dirty || email.touched) && !email.valid }">
      <input type="text" [(ngModel)]="user.email" placeholder="Username or Email" name="email" #email="ngModel" required>
      <!-- 显示错误消息 -->
      <div class="error-message" *ngIf="(loginForm.submitted || email.invalid || !user.email) && (email.dirty || email.touched) && !email.valid">
        {{ showFormValidationErrorMessages() || 'Please enter your username or email' }}
      </div>
    </div>

    <!-- Password 输入框 -->
    <div class="input-box" [ngClass]="{ 'input-error': (loginForm.submitted || password.invalid || !user.password) && (password.dirty || password.touched) && !password.valid }">
      <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" #password="ngModel" required>
      <!-- 显示错误消息 -->
      <div class="error-message" *ngIf="(loginForm.submitted || password.invalid || !user.password) && (password.dirty || password.touched) && !password.valid">
        {{ showFormValidationErrorMessages() || 'Please enter your password' }}
      </div>
    </div>



    <div class="btn-box">
      <a href="#" (click)="forgetPasswordRequest()">Forget Password?</a>
      <div>
        <button type="submit">Sign In</button>
        <button type="button" (click)="goToRegister()">Register</button>
      </div>
    </div>
  </form>
</div>


</body>
</html>
