.lootbox-container-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 居中 */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: left;
  color: white;
  margin: auto;
  overflow: auto;
}
.lootbox-container {
  display: flex;
  justify-content: center;
}

.lootbox-title{
  position: relative;
  top: 5px;
  text-align: center;
  font-family: Herloit, sans-serif;
}


.lootbox-type-container {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0 30px 30px;
  height: 300px;
}

.lootbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lootbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.lootbox-content h3 {
  margin: 0;
  color: rgba(23, 23, 23, 0.9);
  font-family: Herloit, sans-serif;
}

.lootbox-content {
  flex-grow: 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lootbox-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 10px;
}

.box-buy, .box-open {
  position: static;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  background: white;
  font-family: Herloit, sans-serif;
}


.bronze-lootbox {
  background-color: #cd7f32;
}

.silver-lootbox {
  background-color: #c0c0c0;
}

.gold-lootbox {
  background-color: #ffd700;
}


.box-open[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

.lootbox-container-wrapper .back-button{
  position: absolute;
  top: 10px;
  left: 30px;
}

.dialog-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.dialog-box {
  width: 250px;
  position: relative;
  top: 50%;
  left: 5%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.close-all-button {
  position: absolute;
  top: 650px;
  right: 50%;
  z-index: 1000;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cards-container {
  display: flex;
  padding: 20px;
  overflow-y: auto; /* Add scroll if needed */
  max-height: 80vh; /* Adjust based on your needs */
}

.card {
  width: 200px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 5px;
}
