<!-- addfriend.component.html -->
<!DOCTYPE>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Add Friend</title>
  <link rel="stylesheet" href="addfriend.component.css">
</head>

<div>
  <h2>Add Friend</h2>
  <form (submit)="onUserSearchFormSubmit()">
    <input type="text" name="searchQuery" [(ngModel)]="targetEmail" placeholder="Enter email" required>
<!--    <button type="submit">Search</button>-->


    <button (click)="onUserSearchFormSubmit()" class="search-button">Search</button>


  </form>
  <div *ngIf="targetFriend">
    <h3>Search Result</h3>
    <p>Username: {{ targetFriend.user.username }}</p>
    <p>Email: {{ targetFriend.user.email }}</p>
    <div *ngIf="targetUserHasAvatar">
      <img [src]="targetUserAvatarUrl" alt="User Avatar">
    </div>
    <button (click)="sendFriendRequest()">Send Friend Request</button>


</div>
</div>
</html>
