<!-- addfriend.component.html -->
<!DOCTYPE>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Add Friend</title>
  <link rel="stylesheet" href="addfriend.component.css">
</head>

<div>
  <h2>Add Friend</h2>
  <form (submit)="onUserSearchFormSubmit()">
    <input type="text" name="searchQuery" [(ngModel)]="targetEmail" placeholder="Enter email" required>
<!--    <button type="submit">Search</button>-->


    <button (click)="onUserSearchFormSubmit()" class="search-button">Search</button>

    <p-dialog header="错误" [(visible)]="shownoticDialog" [modal]="true" [responsive]="true" [style]="{ width: '400px' }">
      <p>Die eingegebene Email ist nicht vorhanden.</p>
      <p-footer>
        <button pButton type="button" label="close" (click)="hideDialog()" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>
    <!--<p-dialog header="错误" [(visible)]="shownoticDialog" [modal]="true" [responsive]="true" [style]="{ width: '400px' }">
      <p>Die eingegebene Email ist nicht vorhanden.</p>
      <p-footer>
        <button pButton type="button" label="关闭" (click)="hideDialog()" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>-->
  </form>
  <div *ngIf="targetFriend">
    <h3>Search Result</h3>
    <p>Username: {{ targetFriend.user.username }}</p>
    <p>Email: {{ targetFriend.user.email }}</p>
    <div *ngIf="targetUserHasAvatar">
      <img [src]="targetUserAvatarUrl" alt="User Avatar">
    </div>
    <button (click)="sendFriendRequest()">Send Friend Request</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

</div>

</html>
