<!-- reset-password.component.html -->
<body class="background-image-login">
<div class="box">
  <h2>Reset Your Password</h2>

  <form #changePasswordForm="ngForm" (ngSubmit)="onChangePasswordFormSubmit()">

    <div class="input-box" [class.input-error]="!currentPassword">
      <label>Current Password*</label>
      <input class="oldPassword-input" type="password" placeholder="Enter current password" required
             [(ngModel)]="currentPassword" name="currentPassword">
    </div>

    <div class="input-box" [class.input-error]="!newPassword">
      <label>Password*</label>
      <input type="password" placeholder="Enter new password" required [(ngModel)]="newPassword" name="newPassword">
    </div>

    <div class="input-box" [class.input-error]="!confirmPassword || newPassword !== confirmPassword">
      <label>Confirm Password*</label>
      <input type="password" placeholder="Confirm new password" required [(ngModel)]="confirmPassword"
             name="confirmPassword">
      <div *ngIf="confirmPassword && newPassword !== confirmPassword" class="error-message">Passwords do not match</div>
    </div>

    <div class="pwd-btn-box">
      <div>
        <button class="pwd-back-btn" (click)="goToProfile()">Back</button>
        <button class="pwd-btn" type="submit" (click)="onChangePasswordFormSubmit()">Next</button>
      </div>
    </div>
  </form>
</div>
</body>
