<!--reset-password.component.html-->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Reset Password Window</title>
  <link rel="stylesheet" href="reset-password.component.css"/>
</head>

<body>
<div class="box">
  <h2>Reset Your Password</h2>

  <div class="input-box">
    <p>Enter your new password:</p>
    <input type="text"
           placeholder="New Password"
    />
  </div>



  <div class="btn-box">
    <div>
      <!-- 点击按钮后，把新密码存到数据库中 -->
      <button (click)="onNextButtonClick()">Next</button>
    </div>
  </div>

</div>
</body>
</html>
