<!-- reset-password.component.html -->
<div class="box">
  <h2>Reset Your Password</h2>

  <form #changePasswordForm="ngForm" (ngSubmit)="onChangePasswordFormSubmit()">
    <div class="input-box" [class.input-error]="!currentPassword">
      <label>Current Password*</label>
      <input type="password" placeholder="Enter current password" required [(ngModel)]="currentPassword" name="currentPassword">
    </div>
    <div class="input-box" [class.input-error]="!newPassword">
      <label>Password*</label>
      <input type="password" placeholder="Enter new password" required [(ngModel)]="newPassword" name="newPassword">
    </div>

    <div class="input-box" [class.input-error]="!confirmPassword || newPassword !== confirmPassword">
      <label>Confirm Password*</label>
      <input type="password" placeholder="Confirm new password" required [(ngModel)]="confirmPassword" name="confirmPassword">
      <div *ngIf="confirmPassword && newPassword !== confirmPassword" class="error-message">Passwords do not match</div>
    </div>

    <div class="btn-box">
      <div>
        <!-- 当表单提交时调用 onPasswordFormSubmit() 方法 -->
        <button type="submit">Next</button>
      </div>
    </div>
  </form>
</div>
