/* homepage-admin.component.css */
/* Using custom fonts */
@font-face {
  font-family: Hippo;
  src: url('/assets/fonts/HippopotamusApocalypse-Gzly.ttf');
}
@font-face {
  font-family: Herloit;
  src: url('/assets/fonts/HerloitRegular-EaVwn.otf');
}
/**{*/
/*  font-family: Arial, sans-serif;*/
/*}*/

/* Styling for the body that wraps the homepage */
body.admin-page-body {
  background-color: rgb(43, 45, 48);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

/* General styling for the header */
.admin-page-container h1 {
  color: #FFF3C1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 60px;
  font-family: Hippo, sans-serif;
}

/* Styling for all buttons within the admin page container */
.admin-page-container button {
  background: linear-gradient(145deg, #67eae7, #8ec593);
  color: rgb(55, 37, 19);
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin: 5px;  /* Add some space around buttons */
  font-family: Arial, sans-serif;
}

/* Hover effect for buttons */
.admin-page-container button:hover {
  background: linear-gradient(145deg, #8ec593, #67eae7);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Specific styling for the logout button using its ID for more specificity */
#logout {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(237, 77, 77, 0.8);
  color: white;
  font-size: 16px;
}

