<!-- homepage-user.component.html -->
<!DOCTYPE html>
<html lang="en-EN">

<head class="admin">
  <meta charset="UTF-8">
  <title class="admin-page-title">Homepage-User Window</title>
  <link rel="stylesheet" href="homepage-admin.component.css"/>
</head>

<body class="admin-page-body">
<div class="admin-page-container">
  <h1>Welcome to your homepage!</h1>


  <button id="logout" (click)="userLogout()"> Log out</button>
  <button id="profile-btn" (click)="goToEditProfile()">Profile</button>
  <button id="admin-editCard-btn" (click)="goToEditCard()">EditCard</button>
  <button id="upload-btn" (click)="cardUpload()">Card Upload (.csv)</button>
  <button id="playerList-btn" (click)="userList()">Player List</button>
</div>

</body>
</html>

