<!-- homepage-user.component.html -->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Homepage-User Window</title>
  <link rel="stylesheet" href="homepage-admin.component.css"/>
</head>

<body class="homepage-admin">
<h1>Welcome to your homepage!</h1>
<button id="logout" (click)="userLogout()"> Log out</button>
<div class="central-buttons">
  <button id="profile" (click)="goToEditProfile()">Profile</button>
  <button id="editCard" (click)="goToEditCard()">EditCard</button>
  <button id="cardUpload" (click)="cardUpload()">Card Upload (.csv)</button>
  <button id="userlist"(click)="userList()">Player List</button>
</div>

</body>
</html>

