body.leaderboard {
  background-color: rgba(255, 255, 255, 0.73);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

.leaderboard-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-box h2 {
  font-size: 40px;
  color: #FFF3C1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
}

.leaderboard-box ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.leaderboard-box li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgb(55, 37, 19);
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 400px;
}

.rank {
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

.username {
  flex: 1;
}

.status {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.status.online {
  background-color: #79c179;
}

.status.offline {
  background-color: rgba(177, 175, 175, 0.7);
}

.status.dueling {
  background-color: #dc7955;
}

.send-duel-button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgb(244, 233, 185);
  color: rgba(23, 23, 23, 0.9);
}

.send-duel-button:hover {
  box-shadow: 0 0 10px rgba(108, 100, 73, 0.66);
}

.lb-search {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lb-search input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  flex: 1;
}

.lb-search button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgb(244, 233, 185);
  color: rgba(23, 23, 23, 0.9);
  flex: 0;
}

.lb-search button:hover {
  box-shadow: 0 0 10px rgba(108, 100, 73, 0.66);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.pagination button {
  background: linear-gradient(145deg, #67eae7, #8ec593);
  color: #372513;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.pagination button:hover {
  background: linear-gradient(145deg, #8ec593, #67eae7);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.lg-back-button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -80px;
}
.lg-back-button {
  background: linear-gradient(145deg, #ffd994, #efa96f);
  color: #372513;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin-top: 10px;
  font-family: Herloit, sans-serif;
}

.lg-back-button:hover {
  background: linear-gradient(145deg, #efa96f, #ffd994);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
