<div class="score">
  <div class="score-container">
    <div class="result-score">
      <h1 *ngIf="isWinner()" class="win" >You WIN!</h1>
      <h1 *ngIf="!isWinner()" class="lose">You LOSE!</h1>
      <p *ngIf="isWinner()">SEP Coins: +100 </p>
      <p *ngIf="!isWinner()">SEP Coins: +0 </p>
      <p>Leaderboard Points: {{ getBonusPoints() }}</p>
      <p>Total Damage: {{ duel?.playerB?.damageDealt }}</p>
    </div>

    <div class="card-details">
      <h3>Cards Details: </h3>
      <h4>Summoned: {{ summonedTotal }}</h4>
      <div class="summoned-list">
        <p>Common: {{ summonedCommon }}<</p>
        <p>Rare: {{ summonedRare }}</p>
        <p>Legendary: {{ summonedLegendary }}</p>
      </div>
      <h4>Sacrificed: {{ sacrificedTotal }}</h4>
      <div class="sacrificed-list">
        <p>Common: {{ sacrificedCommon }}</p>
        <p>Rare: {{ sacrificedRare }}</p>
        <p>Legendary: {{ sacrificedLegendary }}</p>
      </div>
    </div>
  </div>
</div>
