<div class="score">
  <div class="score-container">
    <div class="result-score">
      <h1>Won!</h1>
      <p>SEP Coins: +100 </p>
      <p>Leaderboard Points: +200</p>
      <p>Total Damage: 50</p>
    </div>

    <div class="card-details">
      <h3>Cards Details: </h3>
      <h4>Summoned: 7</h4>
      <div class="summoned-list">
        <p>Common: 5</p>
        <p>Rare: 2</p>
        <p>Legend: 0</p>
      </div>
      <h4>Sacrificed: 1</h4>
      <div class="sacrificed-list">
        <p>Common: 3</p>
        <p>Rare: 0</p>
        <p>Legend: 0</p>
      </div>
    </div>
  </div>
</div>
