<div class="score">
  <div class="score-container">
    <div class="result-score">
      <h1 *ngIf="isWinner()" class="win" >You WIN!</h1>
      <h1 *ngIf="!isWinner()" class="lose">You LOSE!</h1>
      <p *ngIf="isWinner() && !isRobotDuel()">SEP Coins: +100</p>
      <p *ngIf="isWinner() && isRobotDuel()">SEP Coins: +50</p>
      <p *ngIf="!isWinner()">SEP Coins: +0</p>
      <p *ngIf="!isRobotDuel()">Leaderboard Points: {{ getBonusPoints() }}</p>
      <p>Total Damage Dealt: {{ getDamageDealt() }}</p>
    </div>

    <div class="card-details">
      <h3>Cards Details: </h3>
      <h4>Summoned: {{ getSummonedTotal() }}</h4>
      <div class="summoned-list">
        <p>Common: {{ getSummonedCommon() }}</p>
        <p>Rare: {{ getSummonedRare() }}</p>
        <p>Legendary: {{ getSummonedLegendary() }}</p>
      </div>
      <h4>Sacrificed: {{ getSacrificedTotal() }}</h4>
      <div class="sacrificed-list">
        <p>Common: {{ getSacrificedCommon() }}</p>
        <p>Rare: {{ getSacrificedRare() }}</p>
        <p>Legendary: {{ getSacrificedLegendary() }}</p>
      </div>
    </div>
  </div>
</div>
