<!-- homepage-user.component.html -->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Homepage-User Window</title>
  <link rel="stylesheet" href="homepage-user.component.css"/>
</head>
<body class="homepage-user">
<div class="box">
  <h1>Welcome to the SEP Duel</h1>
  <div class="btn-box" id="logout" (click)="userLogout()">Log out</div>
  <div class="btn-box" id="profile" (click)="goToEditProfile()">Profile</div>
  <div class="btn-box" id="lootbox" (click)="goToLootbox()">Loot Box</div>

  <div class="game-field-box">
    <button class="game-field dynamic-btn" id="duel" routerLink="/leaderboard"> Leaderboard </button>
    <button (click)="goToDecks()" class="btn-box game-field" id="deck">Deck</button>
  </div>

  <button class="btn-box" id="friends" (click)="navigateToFriends()">Friends</button>
</div>
</body>
</html>
