<!-- homepage-user.component.html -->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Homepage-User Window</title>
  <link rel="stylesheet" href="homepage-user.component.css"/>
</head>

<body>
<div>
  <h1>Welcome to your homepage!</h1>

  <button (click)="userLogout()"> Log out </button>
  <button (click)="goToEditProfile()">Profile</button>
  <button (click)="goToCards()">Cards</button>
  <button>Friends</button>
  <button (click)="goToDecks()">Decks</button>
</div>

</body>
</html>

<router-outlet></router-outlet>
