<body class="clan-list">
<div class="clan-list-container">
  <h1>Clan List</h1>

  <button (click)="goToHome()" class="back-button">Back</button>

  <div class="create-clan-button">
    <button (click)="showCreateDialog = true" [disabled]="loggedUser?.clanId">Create Clan</button>
  </div>

  <ul>
    <li *ngFor="let clan of clans">
      <span>{{ clan.name }}</span>
      <button (click)="joinClan(clan.id)" [disabled]="loggedUser?.clanId">Join</button>
    </li>
  </ul>
</div>

<form *ngIf="showCreateDialog" #createClanForm="ngForm" (ngSubmit)="onCreateClanFormSubmit()" class="clan-dialog-overlay">
  <div class="create-dialog">
    <h2 class="create-title">Please Name Your Clan</h2>
    <input type="text" placeholder="Clan Name" [(ngModel)]="clan.name" name="clanName" required>
    <div class="create-btn">
      <button type="submit" class="clan-create-btn">Create</button>
      <button type="button" class="clan-cancel-btn" (click)="showCreateDialog = false">Cancel</button>
    </div>
  </div>
</form>
</body>
