/*verify.component.css*/
.box::before{
  height: 300px;
}

.box{
  height: 300px;
}

.input-box p{
  color: rgba(255, 255, 255, 0.9);
}

.btn-box .v-back-btn{
  background: rgba(135, 134, 134, 0.76);
}
.btn-box .v-next-btn{
  background: rgba(0, 36, 114, 0.55);
  border: 1px solid rgba(0, 36, 114, 0.55);
}
.btn-box .v-next-btn:hover{
  background: rgba(0, 44, 138, 0.55);
}

.btn-box .v-back-btn:hover{
  background: rgba(151, 150, 150, 0.76);
}

.v-text{
  font-family: "DIN Alternate", sans-serif;
}
