<!--verify.component.html-->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Verify Window</title>
  <link rel="stylesheet" href="verify.component.css"/>
</head>

<body>
<div class="box">
  <h2>Verification Code</h2>

  <div class="input-box">
    <p>We have sent a code to your email.<br>Please enter it below.</p>
    <input type="text"
           placeholder="Enter code"
    />
  </div>



  <div class="btn-box">
    <div>
      <button (click)="goBack()">Back</button>
      <button>Next</button>
    </div>
  </div>

</div>
</body>
</html>
