<p>duel-board works!</p>
<div class="game-board" *ngIf="duel">
  <h2>Duel: {{ duel.id }}</h2>
  <h3>Players: {{ duel.playerA.name }} vs {{ duel.playerB.name }}</h3>
  <h4>Round: {{ duel.playerTurn }}</h4>
  <div class="opponent-table">
    <h4>{{ duel.playerA.name }}'s Table</h4>
    <div *ngFor="let card of duel.playerA.table">
      <app-card [card]=card></app-card>
    </div>
  </div>
  <div class="player-table">
    <h4>{{ duel.playerB.name }}'s Table</h4>
    <div *ngFor="let card of duel.playerB.table">
      <app-card [card]=card></app-card>
    </div>
    <h4>{{ duel.playerB.name }}'s Hand</h4>
    <div class="player-hand" *ngFor="let card of duel.playerB.hand">
        <app-card [card]=card></app-card>
        <button *ngIf="!this.duel.playerB.hasSummoned" (click)="summonCard(card.id)">Summon</button>
    </div>
    <button *ngIf="!this.duel.gameFinished && this.duel.playerB.id === this.duel.currentPlayer.id" (click)="endTurn()">End Turn</button>
  </div>
</div>
