<!-- profile.component.html -->
<div class="box">
  <h2>UserProfile</h2>
  <div>
    <!--<p>Avatar: <img src="{{ loggedUser.avatarUrl }}" alt="User Avatar"></p>-->
    <p>Avatar: <img src="{{ loggedUser.avatarUrl }}" alt="User Avatar" style="width: 100px; height: 100px;"></p>

    <form #avatarForm="ngForm" (ngSubmit)="onAvatarFormSubmit()">
      <div class="input-box">
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
        <button type="submit" [disabled]="!selectedFile">Upload</button>
      </div>
    </form>
  </div>

  <div class="info">

    <p><strong>Username:</strong> {{ loggedUser.username }}</p>
    <p><strong>Email:</strong> {{ loggedUser.email }}</p>
    <p><strong>Date of Birth:</strong> {{ loggedUser.birthday }}</p>

    <p><strong>Firstname:</strong> {{ loggedUser.firstname }}</p>
    <p><strong>Lastname:</strong> {{ loggedUser.lastname }}</p>

    <p *ngIf="loggedUser.groupId == 1"><strong>SEP Coins:</strong> {{ loggedUser.sepCoins }}</p>
    <p *ngIf="loggedUser.groupId == 1"><strong>Leaderboard Points:</strong> {{ loggedUser.leaderboardPoints }}</p>
  </div>
</div>

<div class="btn-box">
  <div>
    <button (click)="changePassword()">Change Password</button>
  </div>
</div>

<div class="btn-box">
  <div>
    <button (click)="goToHomePage()">Back</button>
  </div>
</div>
