<div class="profile">
  <div class="profile-box">
    <h2>Profile</h2>
    <div>
      <p class="avatar">
        <img [src]="loggedUser.avatarUrl || 'assets/images/user.png'" alt="User Avatar">
      </p>
      <form #avatarForm="ngForm" (ngSubmit)="onAvatarFormSubmit()">
        <div class="input-box">
          <input type="file" accept="image/*" (change)="onFileSelected($event)">
          <button type="submit" [disabled]="!selectedFile">Upload</button>
        </div>
      </form>
    </div>

    <div class="info">
      <p><strong class="info-title">Username:</strong> {{ loggedUser.username }}</p>
      <p><strong class="info-title">Email:</strong> {{ loggedUser.email }}</p>
      <p><strong class="info-title">Date of Birth:</strong> {{ loggedUser.birthday | date:'shortDate'}}</p>
      <p><strong class="info-title">Firstname:</strong> {{ loggedUser.firstname }}</p>
      <p><strong class="info-title">Lastname:</strong> {{ loggedUser.lastname }}</p>
      <p *ngIf="loggedUser.groupId == 1"><strong>SEP Coins:</strong> {{ loggedUser.sepCoins }}</p>
      <p *ngIf="loggedUser.groupId == 1"><strong>Leaderboard Points:</strong> {{ loggedUser.leaderBoardPunkt }}</p>
      <p *ngIf="loggedUser.groupId == 1"><strong>Clan:</strong> clan name</p>
    </div>

    <div class="password-btn-box">
      <div>
        <button routerLink="/reset-password">Change Password</button>
      </div>
    </div>

    <div class="back-btn-box">
      <div>
        <button id="profile-back-btn" (click)="goToHome()" >Back</button>
      </div>
    </div>
  </div>
</div>
