<!-- profile.component.html -->
<!DOCTYPE html>
<html lang="en-EN">

<head>
  <meta charset="UTF-8">
  <title>Profile Window</title>
  <link rel="stylesheet" href="profile.component.css"/>
</head>

<body>
<div class="box">
  <h2>User Profile</h2>
  <div>
    <p>Avatar: <img src="user-avatar.jpg" alt="User Avatar"></p>
  </div>
  <div class="input-box">
    <p>Username: {{ username }}</p>
  </div>
  <div class="input-box">
    <p>Firstname: {{ firstname }}</p>
  </div>
  <div class="input-box">
    <p>Lastname: {{ lastname }}</p>
  </div>
  <div class="input-box">
    <p>Email: {{ email }}</p>
  </div>
  <div class="input-box">
    <p>Leaderboard Points: {{ leaderboardPoints }}</p>
  </div>
  <div class="input-box">
    <p>SEP Coins: {{ sepCoins }}</p>
  </div>
</div>
<div class="btn-box">
  <div>
    <button (click)="passwordReset()">Change Password</button>
    <button>Back</button>
  </div>
</div>

</body>
</html>
