<div class="flex justify-content-left" style="height: 100%; margin-left: 200px" *ngIf="selectedFriend">
  <div class="flex flex-row align-items-center">
    <div class="flex flex-column">
      <div class="flex flex-row align-items-center">
        <div class="flex flex-column align-items-start gap-3">
          <div class="text-xl font-bold">{{ selectedFriend.firstname }} {{selectedFriend.lastname}}</div>
          <div>Email: {{ selectedFriend.email }}</div>
        </div>
      </div>
      <div class="flex flex-column">
        <p-divider type="solid"></p-divider>
      </div>
      <div class="flex flex-column">
        <div class="flex flex-row align-items-center gap-3">
          <p-button *ngIf="selectedFriendListStatus!=null && selectedFriendListStatus" label="Freundesliste"
                    icon="pi pi-book"
                    styleClass="p-button-help" (onClick)="openFriendList()"></p-button>
          <p-button *ngIf="selectedFriendListStatus!= null && !selectedFriendListStatus" label="Freundesliste (privat)"
                    [disabled]="true"
                    icon="pi pi-book" styleClass="p-button-help"></p-button>
          <p-button label="Löschen" icon="pi pi-trash" styleClass="p-button-danger"
                    (onClick)="deleteFriend(selectedFriend)"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 好友列表 -->
<p-dialog [(visible)]="showFriendList" [style]="{ 'min-width': '400px' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Freundliste</span>
  </ng-template>
  <div class="flex justify-content-center">
    <p-scroller [items]="friends" [itemSize]="50" scrollHeight="300px">
      <ng-template pTemplate="item" let-friend>
        <div class="flex flex-row align-items-center gap-2" style="height: 50px;">

          <div class="text-xl font-bold">{{ friend.firstname }} {{friend.lastname}}</div>
        </div>
      </ng-template>
    </p-scroller>
  </div>
</p-dialog>
